<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil</h1>

    <form action="/submit" method="post">
        <label for="username">Nom d'utilisateur : </label>
        <input type="text" id="username" name="username">
        <button type="submit">Envoyer</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <ul style="color: red;">
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
